/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

/*basic reset*/
* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}


html {
	height: 100%;
	background: #4B99BD;
}

body {
	font-family: 'PT Sans', arial, verdana;
}



/*form styles*/

#msform {
	width: 500px;
	margin: 75px auto;
	text-align: center;
	position: relative;
}

div.intro {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
	z-index: 1000;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 80%;
	margin: 0 10%;
	opacity: 0;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}



/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform div.intro {
	padding-top: 75px;
	padding-bottom: 50px;
}


/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	font-family: 'PT Sans';
	color: #2C3E50;
	font-size: 13px;
}

input[placeholder] {
	font-size: 11px;
	text-align: center;
}

/*buttons*/
#msform .action-button {
	max-width: 150px;
	background: #de5514;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	padding: 20px 5px;
	margin: 30px 5px 10px 5px;
}

#msform .action-button:hover, 
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #de5514;
}

#msform .previous.action-button {
	background-color: #798CA5;
}

#msform .previous.action-button:hover, 
#msform .previous.action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #798CA5;
}

/*headings*/

.intro-title {
	font-size: 30px;
	font-weight: 700;
	text-transform: none;
	color: #2C3E50;
	line-height: 1.3;
	margin-bottom: 20px;
}

.fs-title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #2C3E50;
	margin-top: 10px;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: 400;	
	font-size: 13px;
	line-height: 1.5;
	color: #666;
	margin-bottom: 20px;
}

.ip-label {
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5;
	color: #333;
	margin-top: 7px;
	margin-bottom: 3px;
}

.ip-help {
	font-size: 10px;
	line-height: 1.2;
	color: #999;
	margin-bottom: 3px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	opacity: 0;
}

.appear {
	-webkit-animation: appear 0.5s ease-in forwards;
	animation: appear 0.5s ease-in forwards;
}

@-webkit-keyframes appear {
	0% { opacity: 0;}
	100% { opacity: 100;}
}

@keyframes appear {
	0% { opacity: 0;}
	100% { opacity: 100;}
}

.disappear {
	-webkit-animation: disappear 0.5s ease-out forwards;
	animation: disappear 0.5s ease-out forwards;
}

@-webkit-keyframes disappear {
	0% { opacity: 100;}
	100% { opacity: 0;}
}

@keyframes disappear {
	0% { opacity: 100;}
	100% { opacity: 0;}
}


#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}

/*progressbar connectors*/
#progressbar li:before {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 23px;
	z-index: -1; /*put it behind the numbers*/
}

/*progressbar counters*/
#progressbar li:after {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 5px auto 5px auto;
}

#progressbar li:first-child:before {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps orange*/
/*The number of the step and the connector before it = orange*/
#progressbar li.active:after,  #progressbar li.active:before{
	background: #de5514;
	color: white;
}


.bd-txt {
	font-size: 13px;
	color: #555;
	font-weight: normal;
}

.underline {
	text-decoration: underline;
}

.hide {
	visibility:hidden;
}

